@tailwind base;
@tailwind components;

@font-face {
    font-family: 'acumin';
    src: local('acumin'), url(../fonts/Acumin-BdPro.woff) format('woff');
}

@font-face {
    font-family: 'segoe';
    src: local('segoe'), url(../fonts/seguiemj.ttf) format('truetype');
}

video {
    height: inherit !important;
}

/* .swiper-button-next,
.swiper-button-prev {
    color: #c4bcb5 !important;
} */

/* .swiper-pagination-bullet {
    background: white !important;
} */

.swiper-pagination-bullet-active {
    background: white !important;
}


@tailwind utilities;