@tailwind base;
@tailwind components;

@font-face {
    font-family: 'acumin';
    src: local('acumin'), url(../fonts/Acumin-BdPro.woff) format('woff');
}

@font-face {
    font-family: 'segoe';
    src: local('segoe'), url(../fonts/seguiemj.ttf) format('truetype');
}

video {
    height: inherit !important;
}

@tailwind utilities;